* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    border-radius: 8px;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.operator {
    background: #38bdf8;
}

.equal {
    background: #22c55e;
    grid-row: span 2;
}

.clear {
    background: #ef4444;
}

.delete {
    background: #f97316;
}

.zero {
    grid-column: span 2;
}
